@model project1.Models.StudentModel

@{
    ViewData["Title"] = "Studentform";
}

<h1>Studentform</h1>

<h4>StudentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Studentform" method="post">
            <label asp-for="Name">
               Enter Name: <input asp-for="Name" />
            </label>
            <label asp-for="Address">
                Enter Address:<input asp-for="Address" />
            </label>
            <label asp-for="Phone">
               Enter Phone No.: <input asp-for="Phone" />
            </label>
            <label asp-for="Age">
                Enter Age:<input asp-for="Age" />
            </label>
            <label>
                <input type="submit"value="save" />
            </label>
            </form>

</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

